body{
    background-color:lightslategray;
    padding: 200px;
    padding-left: 200px;
    text-align: center;
    

    
}
button{
    height: 50px;
    width: 40px ;
   outline-color: blueviolet;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   box-shadow: inset;
   font-size: large;
   background-color: #fff;
}
button:hover{
    background-color: gray;
}
/*.screen {
    height: 40px;
    width: 220px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(195, 195, 205);
    margin-left: 40px;
    margin-bottom: 18px;
    margin-top: 10px;
}*/

:is(button, input) {
    box-shadow: var(--elementShadow);
    font-weight: bolder;
    font-size: 1.1rem;
    transition: all 1s;

    &:hover {
        box-shadow: inset;
    }
}

.calculator{
    border: solid 2px rgb(56, 50, 50);
    border-radius: 5px;
    height: 460px;
    width: 300px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.9);
    background-color: blue;
}
.btn{
    margin-top: 60px;
}
.m1{padding-bottom: 50px;}
